/* 공통 */
@font-face {
    font-family: "SeoulHangangM";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
ul { list-style: none; }
body { background-color: #ddd; font-family: "SeoulHangangM"; }
a { text-decoration: none; color: inherit; }
.row { max-width: 1200px; margin: 0 auto; background-color: #fff; }


/* 헤더구역 */
#header {
    /* background: hsl(226, 69%, 25%,0.5); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
#header h1 { padding: 30px 50px; }
#header #nav { width: 800px; }
#header #nav .depth1 { 
    display: flex; 
    justify-content: right; 
}
#header #nav .depth1 li {
margin-right: 40px;
border-bottom: 2px solid #fff;
font-size: 15px;
position:relative;
}
#header #nav .depth1 li::after {
    content: '';
    position:absolute;
    top:0px;
    left:-20px;
    width:1px;
    background:hsl(226, 69%, 25%,0.5);
    height: 15px;
    }

    #header #nav .depth1 li:first-child::after{display:none;}

#header #nav .depth1 li:hover { 
    color: #14296C; 
    border-bottom: 2px solid #14296C;     
}
#header #nav .depth1 li.on{
    color: #14296C; 
    border-bottom: 2px solid #14296C;
}

/* 풋터구역 */
#footer {
    border-top: 1px solid #ddd;
    padding: 30px 50px;
}
#footer .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .foot p { width: 85%; }